.git
.gitignore
.server.pid
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
.venv/
tests/
sst_agent/.vscode/
sst_agent/app/storage/vector_store/*.index
sst_agent/app/data/*.index